/* general styles */
.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* hide menus for elevated roles */
#quicklinks {
    display: none;
}

/* login page :: increase logo size */
.custom-login .main-logo .logo-light.is_svg,
.custom-login .main-logo .logo-dark.is_svg {
    height: 80px !important;
}

/* login page :: background image */
.custom-login #page-outer {
    background-color: #282828;
}

/* login page :: center logo */
.custom-login .logo-wrap,
.custom-login .logo-wrap img {
    margin-right: 0px;
    max-width: 100%;
    width: 100%;
}

/* course enrollment page :: fonts */
#page-enrol-index .course-header .course-categories-tree {
    color: #f2f2f2;
}

/* course enrollment page :: header background */
#page-enrol-index .course-header {
    background-image: none !important;
    background-color: #282828 !important;
}

/* course content page :: custom image for banner */
.format-topics #page-header .page-header-img {
    background-image: none !important;
    background-color: #282828; !important;
}

#page-header {
    background-color: #282828;
}

/* course overview page :: custom image for banner */
#page-course-index-category .theme-header .theme-header-bg,
.format-topics .theme-header .theme-header-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

/* course overview page :: reduce margin between course banner and listing */
#page-course-index-category .generalbox.info {
    margin-bottom: 1rem;
}

/* scorm player :: ensure background always black and text is white */
#page-mod-scorm-player  {
    background-color: #282828;
    color: #f2f2f2;
}

#page-mod-scorm-player .h3 {
    color: #f2f2f2;
}

/* scorm player :: ensure player fills window completely */
#page-mod-scorm-player #scormpage #scorm_object {
    width: 100%;
    height: 100%;
}

/* scorm player :: hide "View Certificated Issued" link as we do not preserve them */
#page-mod-iomadcertificate-view .reportlink {
    display: none;
}

/* hide unused items */
#page-site-index .block_navigation,
#page-login-forgot_password .block_navigation,
.block_settings,
#footer .footer-tools {
    display: none;
}
