/* login page :: increase logo size */
.custom-login .main-logo .logo-light.is_svg,
.custom-login .main-logo .logo-dark.is_svg {
    height: 80px !important;
}

/* login page :: background image */
.custom-login #page-outer {
    /* starry night: https://projects.verou.me/css3patterns/#starry-night */
    background-color: #282828;
    background-image:
    radial-gradient(#880e12, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(#880e12, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(#880e12, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* login page :: center logo */
.custom-login .logo-wrap,
.custom-login .logo-wrap img {
    margin-right: 0px;
    max-width: 100%;
    width: 100%;
}

/* course enrollment page :: fonts */
#page-enrol-index .course-header .course-categories-tree {
    color: #f2f2f2;
}

/* course enrollment page :: header background */
#page-enrol-index .course-header {
    background-image: none !important;
    background-color: #282828 !important;
}

/* course content page :: custom image for banner */
.format-topics #page-header .page-header-img {
    background-image: none !important;
    background-color: #282828; !important;
}

#page-header {
    background-color: #282828;
}

/* course overview page :: custom image for banner */
#page-course-index-category .theme-header .theme-header-bg,
.format-topics .theme-header .theme-header-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

/* course overview page :: reduce margin between course banner and listing */
#page-course-index-category .generalbox.info {
    margin-bottom: 1rem;
}

/* scorm player :: ensure background always black and text is white */
#page-mod-scorm-player  {
    background-color: #282828;
    color: #f2f2f2;
}

#page-mod-scorm-player .h3 {
    color: #f2f2f2;
}

/* scorm player :: ensure player fills window completely */
#page-mod-scorm-player #scormpage #scorm_object {
    width: 100%;
    height: 100%;
}

/* scorm player :: hide "View Certificated Issued" link as we do not preserve them */
#page-mod-iomadcertificate-view .reportlink {
    display: none;
}

/* hide unused items */
.block_navigation,
.block_settings,
#footer .footer-tools {
    display: none;
}
